@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset margin and ensure full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


/* 🌿 Custom Animations */
@keyframes parallax {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.animate-parallax-slow {
  animation: parallax 90s linear infinite;
}

.animate-parallax-slower {
  animation: parallax 120s linear infinite;
}
